/*  your css code here. If applicable */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	background-color: #6e072d;
	color: white;
	font-size: 18px;
	width: fit-content;
	display: flex;
	justify-content: space-between
}

.nav-left ul, .nav-right ul{
	list-style: none;
	display: flex;
}
li{
	padding: 18px 27px;
	border: 2px solid white;
	cursor: pointer;
}
li:hover{
	background-color: #b90e4d;
}
#pricing{
	border-right: none;
}
#team {
	border-left: none;
}